<template>
<div>
  sgusdoghhsduogjxfjjtyhgfchjchgjkfx
  fjhtfgxxxxxxtjhcfgjtjhfgcjtfchgjfcj
  thjchgfjcftjcfhfccccgjtcghfjhxdrtgh
</div>
</template>

<script>
export default {
  name: "NAVBAR",

  // methods: {
  //   alerts() {
  //     alert('1'
  //     )
  //   },
  //   alerts2() {
  //     alert('2')
  //   },
  //   alerts3() {
  //     alert('3')
  //   },
  //   alerts4() {
  //     alert('4')
  //   },
  //   alerts5() {
  //     alert('5')
  //   },
  //   alerts6() {
  //     alert('6')
  //   },
  //   alerts7() {
  //     alert('7')
  //   }
  // }
}

</script>


