<template>






<!--  <div class="navbar">-->
<!--    <button class="gradient-button" v-on:click="alert" >Понедельник</button>-->
<!--    <button class="gradient-button" >Вторник</button>-->
<!--    <button class="gradient-button" >Среда</button>-->
<!--    <button class="gradient-button" >Четверг</button>-->
<!--    <button class="gradient-button" >Пятница</button>-->
<!--    <button class="gradient-button" >Суббота</button>-->
<!--    <button class="gradient-button" >Воскресенье</button>-->
<!--  </div>-->











</template>

<script>
  export default {
    data () {
      return {
        dialog: false
      }
    },
  }

</script>