<template>
  <v-card height="60">
    <v-card-title>
      <h2>{{ trackInfo.artist }} - {{ trackInfo.title }}</h2>
      <v-spacer></v-spacer>
      <h3>{{ trackInfo.seek | minutes }}/{{ trackInfo.duration | minutes }}</h3>

      <v-img v-if="this.trackInfo.artist === 'Information Ghetto'"
             max-height="100"
             max-width="41"
src="https://lh3.googleusercontent.com/pw/AM-JKLXhwEX94U1o5L1cvA0C0cIki8R_u4WJztLQi5ZJYPpJBabt4CiwErLN-zYj5TbB8-SbIV8z2aPN51y8VNScL4yG0WH6zwwjD2KMu5gkVGVjL8P_Cxq7FnYlUB9k-EYY-FbV-v3jQ-w-xa5jCoyOdcw=w255-h198-no?authuser=0"
      ></v-img>

      <v-img v-if="this.trackInfo.artist === 'Nøi2er'"
             max-height="100"
             max-width="41"
src="https://lh3.googleusercontent.com/pw/AM-JKLV_FWwMf-eXcnzmh8U38jjjX6YaVBei5Fb_KY30P1YCtyLC92yDwVAqeFGtKSJnxlFke0OevDR-kJFV8d3DsIHrVkEKIQfHnPMXmYM78TDIdKHkAxG2oeOF2AntjodNUVI9xcLnm5fr0NQDEG1QmAg=s240-no?authuser=0"
      ></v-img>

      <v-img v-if="this.trackInfo.artist === 'Crennwiick'"
             max-height="100"
             max-width="41"
             src="https://lh3.googleusercontent.com/pw/AM-JKLXLTA2wFJLMKfYP2kr8IB32NjIydx15YyImIw1Osj3YOKTpJxmJTrQUzzIhc-yNuXHfvydS1Tm-bIrnyJRgXARmkfWLaUl9Ag1_xHsDq1VLvTeRt3cisH_MZY3zbY0LrCzHBMefxt6GvhPX3a4ST2k=s225-no?authuser=0"
      ></v-img>

      <v-img v-if="this.trackInfo.artist === 'Callejas'"
             max-height="100"
             max-width="41"
src="https://lh3.googleusercontent.com/pw/AM-JKLXNkuJNaFE9rIFBmLLuNMJv2qByW-k43PgmGbo4fvCE6Oy_kBJHIGsdqFBfPrJu_uIHvUBA7kJanW86S3LuJr7JwDqN90SangkOAXZvbKH6lHpducntTmG7NIm-PMQGqllkFBuqyCu1eSuIKoRjDaI=s600-no?authuser=0"
      ></v-img>

      <v-img v-if="this.trackInfo.artist === 'Slick Rick'"
             max-height="100"
             max-width="41"
src="https://lh3.googleusercontent.com/pw/AM-JKLU1pkzVNbVz8V-83arixds9MvyU05aRekV1D59RDQ47SesXd9VoM0eEnRxpCZeC0ZZkR_EDQ_NV5HRe9xpRnNUJdDJFB-7on0UAsLZrnvLNWHD94dobgOrK8T1ZKSxa9hbidmd_N2WDL3pLXyUHwz0=s600-no?authuser=0"
      ></v-img>

      <v-img v-if="this.trackInfo.artist === 'Jazz One Beats'"
             max-height="100"
             max-width="41"
src="https://lh3.googleusercontent.com/pw/AM-JKLWt18_HoFCSEIsY-hvBH8fJ-ZKy1ciqhWOqikKFGbVGTPwRiNXz25OXhSCD7CsVz80d1DG9FqnEww_3pW5SFmwC2zzTlNH0CXxpdofKbZd3FSR_L_MphYQKjFJqubGaOYNSb0YLuaRk2r1SEG_En_w=s500-no?authuser=0"
      ></v-img>





      <v-img v-if="this.trackInfo.artist === 'Cousin Silas'"
             max-height="100"
             max-width="41"
src="https://lh3.googleusercontent.com/pw/AM-JKLVCAet4oaGUQUrD9ayxNmIUKNVmx_k6YaDuAqqX27CITL0hi_JJp1ynK192gaVOXA0XgrBwEV7jrvRZjgE-zsetg2Bve6bC00LDA73m6PoqD0JOswcBOGueiiIVERlk_bXD-hoGiUpCw7hCiqvuqoQ=s225-no?authuser=0"
      ></v-img>

      <v-img v-if="this.trackInfo.artist === 'CousinSilas'"
             max-height="100"
             max-width="41"
             src="https://lh3.googleusercontent.com/pw/AM-JKLVCAet4oaGUQUrD9ayxNmIUKNVmx_k6YaDuAqqX27CITL0hi_JJp1ynK192gaVOXA0XgrBwEV7jrvRZjgE-zsetg2Bve6bC00LDA73m6PoqD0JOswcBOGueiiIVERlk_bXD-hoGiUpCw7hCiqvuqoQ=s225-no?authuser=0"

      ></v-img>
    </v-card-title>

  </v-card>

</template>

<script>
  export default {
    props: {
      trackInfo: Object
    },
  }
</script>