<template>
  <v-card height="330" :class="{playlist}">
    <v-list>
      <v-list-tile 
        v-for="(track, index) in playlist"
        :key="track.title"
        v-show="track.display"
        :class="[{selected: track === selectedTrack}, {even: index % 2 == 0}]">
        <v-list-tile-content @click="selectTrack(track)" @dblclick="playTrack()">
          <v-list-tile-title> {{ track.artist }} - {{ track.title }}</v-list-tile-title>
        </v-list-tile-content>
        <v-spacer></v-spacer>
{{track.time}}
<!--        {{ track.howl.duration() | minutes }}-->
      </v-list-tile>
    </v-list>
  </v-card>
</template>

<script>
  export default {
//     data: () => ({
// raspisanie: [
//   {id: 1, title: '9:00'},
//   {id: 2, title: '9:03'},
//   {id: 3, title: '9:06'},
//   {id: 4, title: '9:09'},
//   {id: 5, title: '9:12'},
//   {id: 6, title: '9:15'},
//   {id: 7, title: '9:18'},
//   {id: 8, title: '9:21'},
//   {id: 9, title: '9:24'},
//   {id: 10, title: '9:27'},
//   {id: 11, title: '9:30'},
//   {id: 12, title: '9:33'},
//   {id: 13, title: '9:36'},
//   {id: 14, title: '9:39'},
//   {id: 15, title: '9:42'},
//   {id: 16, title: '9:45'},
//   {id: 17, title: '9:48'},
//   {id: 18, title: '9:51'},
//   {id: 19, title: '9:52'},
//   {id: 20, title: '9:55'},
//   {id: 21, title: '9:58'},
//   {id: 22, title: '10:01'},
//   {id: 23, title: '10:04'},
//   {id: 24, title: '10:07'},
//   {id: 25, title: '10:10'},
//   {id: 26, title: '10:13'},
//   {id: 27, title: '10:16'},
//   {id: 28, title: '10:19'},
//   {id: 29, title: '10:21'},
//   {id: 30, title: '10:24'},
//   {id: 31, title: '10:27'},
//   {id: 32, title: '10:30'},
//   {id: 33, title: '10:33'},
//   {id: 34, title: '10:36'},
//   {id: 35, title: '10:39'},
// ]
//
//     }),
    props: {
      playlist: Array,
      selectedTrack: Object
    },
    methods: {
      selectTrack (track) {
        this.$emit('selecttrack', track)
      },
      playTrack(index) {
        this.$emit('playtrack', index)
      }
    } 
  }
</script>

<style scoped>
  .selected {
    background-color:  blue !important;
  }
  .even {
    background-color: #505050
  }
  .playlist {
    overflow: auto
  }
</style>