<template>
  <div>
    <v-content class="PLAYYER" >
      <player-title-bar></player-title-bar>
      <v-container >
        <player-info-panel
            :trackInfo="getTrackInfo">
        </player-info-panel>

        <player-playlist-panel
            :playlist="playlist"
            :selectedTrack="selectedTrack"
            @selecttrack="selectTrack"
            @playtrack="play">
        </player-playlist-panel>
        <player-controls-bars
            :loop="loop"
            :shuffle="shuffle"
            :progress="progress"
            @playtrack="play"
            @pausetrack="pause"
            @stoptrack="stop"
            @skiptrack="skip"
            @toggleloop="toggleLoop"
            @toggleshuffle="toggleShuffle"
            @updateseek="setSeek">
        </player-controls-bars>
      </v-container>
    </v-content>
  </div>
</template>

<script>
import PlayerTitleBar from "./PlayerTitleBar";
import PlayerPlaylistPanel from './PlayerPlaylistPanel.vue'
import PlayerControlsBars from './PlayerControlsBars.vue'
import PlayerInfoPanel from './PlayerInfoPanel.vue'
import NAVBAR from "./NAVBAR";
import Podval from "./Podval";
// import NAVBAR from "./NAVBAR";



export default {
  components: {
    NAVBAR,
    // NAVBAR,

    PlayerPlaylistPanel,
    PlayerControlsBars,
    PlayerInfoPanel,

  },
  data () {
    return {
      playlist: [
//Плейлист

        {title: "Destructive", artist: "Nøi2er", howl: null, display: true, time: '09:55'},
        {title: "DuneSurfing", artist: "Cousin Silas", howl: null, display: true, time: '11:37'},
        {title: "Expedition", artist: "Nøi2er", howl: null, display: true, time: '12:40'},
        {title: "ExtraterrestrialPresence", artist: "Cousin Silas", howl: null, display: true, time: '13:25'},
        {title: "Jazz03", artist: "Jazz One Beats", howl: null, display: true, time: '14:46'},
        {title: "Labyrinths", artist: "Cousin Silas", howl: null, display: true, time: '16:07'},
        {title: "leg", artist: "Cousin Silas", howl: null, display: true, time: '17:50'},
        {title: "Legis", artist: "Nøi2er", howl: null, display: true, time: '18:20'},
        {title: "Love", artist: "Nøi2er", howl: null, display: true, time: '19:35'},

      ],
      //
      // ],
      // playlist2: [
      //
      // ],
      // playlist3: [
      //
      // ],
      // playlist4: [
      //
      // ],
      // playlist5: [
      //
      //
      // ],
      // playlist6: [
      //
      // ],
      // playlist7: [
      //
      // ],

      selectedTrack: null,
      index: 0,
      playing: false,
      loop: false,
      shuffle: false,
      seek: 0
    }
  },

  computed: {
    currentTrack () {
      return this.playlist[this.index]
    },
    progress () {
      if (this.currentTrack.howl.duration() === 0) return 0
      return this.seek / this.currentTrack.howl.duration()
    },
    getTrackInfo () {
      let artist = this.currentTrack.artist,
          title = this.currentTrack.title,
          seek = this.seek,
          duration = this.currentTrack.howl.duration()
      return {
        artist,
        title,
        seek,
        duration,
      }
    }
  },
  watch: {
    playing(playing) {
      this.seek = this.currentTrack.howl.seek()
      let updateSeek
      if (playing) {
        updateSeek = setInterval(() => {
          this.seek = this.currentTrack.howl.seek()
        }, 250)
      } else {
        clearInterval(updateSeek)
      }
    },
  },
  created: function () {
    this.playlist.forEach( (track) => {
      let file = track.title.replace(/\s/g, "_")
      track.howl = new Howl({
        src: [`./playlist/${file}.mp3`],
        onend: () => {
          if (this.loop) {
            this.play(this.index)
          } else {
            this.skip('next')
          }
        }
      })
    })
  },
  methods: {
    selectTrack (track) {
      this.selectedTrack = track
    },
    play (index) {
      let selectedTrackIndex = this.playlist.findIndex(track => track === this.selectedTrack)

      if (typeof index === 'number') {
        index = index
      } else if (this.selectedTrack) {
        if (this.selectedTrack != this.currentTrack) {
          this.stop()
        }
        index = selectedTrackIndex
      } else {
        index = this.index
      }

      let track = this.playlist[index].howl

      if (track.playing()) {
        return
      } else {
        track.play()
      }

      this.selectedTrack = this.playlist[index]
      this.playing = true
      this.index = index
    },
    pause () {
      this.currentTrack.howl.pause()
      this.playing = false
    },
    stop () {
      this.currentTrack.howl.stop()
      this.playing = false
    },
    skip (direction) {
      let index = 0,
          lastIndex = this.playlist.length - 1

      if (this.shuffle) {
        index = Math.round(Math.random() * lastIndex)
        while (index === this.index) {
          index = Math.round(Math.random() * lastIndex)
        }
      } else if (direction === "next") {
        index = this.index + 1
        if (index >= this.playlist.length) {
          index = 0
        }
      } else {
        index = this.index - 1
        if (index < 0) {
          index = this.playlist.length - 1
        }
      }

      this.skipTo(index)
    },
    skipTo (index) {
      if (this.currentTrack) {
        this.currentTrack.howl.stop()
      }

      this.play(index)
    },
    toggleLoop (value) {
      this.loop = value
    },
    toggleShuffle (value) {
      this.shuffle = value
    },
    setSeek (percents) {
      let track = this.currentTrack.howl

      if (track.playing()) {
        track.seek((track.duration() / 100) * percents)
      }
    }
  }
}
</script>

<style>
.PLAYYER {
  border-radius: 50%;
}

</style>
