<script src="main.js"></script>
<template>
  <v-app dark>
    <h1 class="positionplease">РАДИО ДЛЯ ВСЕХ</h1>
    <div class="navigationbare">
      <v-tab class="gradient-button2" @click="menyy = 'A'">Радио программа</v-tab>
      <v-tab class="gradient-button2" @click="menyy = 'B'">О исполнителях</v-tab>
      <v-tab class="gradient-button2" @click="menyy = 'C'">Онлайн вещание</v-tab>
    </div>

<div v-if="menyy === 'B'" class="ocenter">

  <h1>Information Ghetto</h1>
  <h3> Популярная рок-группа</h3>
  <v-img
      max-height="100"
      max-width="41"
      src="https://lh3.googleusercontent.com/pw/AM-JKLXhwEX94U1o5L1cvA0C0cIki8R_u4WJztLQi5ZJYPpJBabt4CiwErLN-zYj5TbB8-SbIV8z2aPN51y8VNScL4yG0WH6zwwjD2KMu5gkVGVjL8P_Cxq7FnYlUB9k-EYY-FbV-v3jQ-w-xa5jCoyOdcw=w255-h198-no?authuser=0"
  ></v-img>

<!--  <h1>Callejas</h1>-->
<!--  <h3> Мальтийский певец, представитель Мальты на конкурсе песни Евровидение 2012. </h3>-->
<!--  <v-img-->
<!--      max-height="100"-->
<!--      max-width="41"-->
<!--      src="https://lh3.googleusercontent.com/pw/AM-JKLXNkuJNaFE9rIFBmLLuNMJv2qByW-k43PgmGbo4fvCE6Oy_kBJHIGsdqFBfPrJu_uIHvUBA7kJanW86S3LuJr7JwDqN90SangkOAXZvbKH6lHpducntTmG7NIm-PMQGqllkFBuqyCu1eSuIKoRjDaI=s600-no?authuser=0"-->
<!--  ></v-img>-->

  <h1>Slick Rick</h1>
  <h3> Англо-американский рэпер и продюсер. </h3>
  <v-img
      max-height="100"
      max-width="41"
      src="https://lh3.googleusercontent.com/pw/AM-JKLU1pkzVNbVz8V-83arixds9MvyU05aRekV1D59RDQ47SesXd9VoM0eEnRxpCZeC0ZZkR_EDQ_NV5HRe9xpRnNUJdDJFB-7on0UAsLZrnvLNWHD94dobgOrK8T1ZKSxa9hbidmd_N2WDL3pLXyUHwz0=s600-no?authuser=0"
  ></v-img>

  <h1>Jazz One Beats</h1>
  <h3> Известный американский исполнитель </h3>
  <v-img
      max-height="100"
      max-width="41"
      src="https://lh3.googleusercontent.com/pw/AM-JKLWt18_HoFCSEIsY-hvBH8fJ-ZKy1ciqhWOqikKFGbVGTPwRiNXz25OXhSCD7CsVz80d1DG9FqnEww_3pW5SFmwC2zzTlNH0CXxpdofKbZd3FSR_L_MphYQKjFJqubGaOYNSb0YLuaRk2r1SEG_En_w=s500-no?authuser=0"
  ></v-img>

<h1>CousinSilas </h1>
<h3> Английский исполнитель электронной музыки </h3>
  <v-img
         max-height="100"
         max-width="41"
         src="https://lh3.googleusercontent.com/pw/AM-JKLVCAet4oaGUQUrD9ayxNmIUKNVmx_k6YaDuAqqX27CITL0hi_JJp1ynK192gaVOXA0XgrBwEV7jrvRZjgE-zsetg2Bve6bC00LDA73m6PoqD0JOswcBOGueiiIVERlk_bXD-hoGiUpCw7hCiqvuqoQ=s225-no?authuser=0"
  ></v-img>

<h1>Crennwiick </h1>
  <h3>   Американский рэп исполнитель </h3>
  <v-img
         max-height="100"
         max-width="41"
         src="https://lh3.googleusercontent.com/pw/AM-JKLXLTA2wFJLMKfYP2kr8IB32NjIydx15YyImIw1Osj3YOKTpJxmJTrQUzzIhc-yNuXHfvydS1Tm-bIrnyJRgXARmkfWLaUl9Ag1_xHsDq1VLvTeRt3cisH_MZY3zbY0LrCzHBMefxt6GvhPX3a4ST2k=s225-no?authuser=0"
  ></v-img>

  <h1>Nøi2er</h1>
  <h3> Абстркатный музыкальный исполнитель </h3>
  <v-img
      max-height="100"
      max-width="41"
      src="https://lh3.googleusercontent.com/pw/AM-JKLV_FWwMf-eXcnzmh8U38jjjX6YaVBei5Fb_KY30P1YCtyLC92yDwVAqeFGtKSJnxlFke0OevDR-kJFV8d3DsIHrVkEKIQfHnPMXmYM78TDIdKHkAxG2oeOF2AntjodNUVI9xcLnm5fr0NQDEG1QmAg=s240-no?authuser=0"
  ></v-img>

  <br>
  <hr>
  <br>

  <h1>radiomok</h1>

</div>

<div v-if="menyy === 'C'" class="ocenter">
<h1>Онлайн вещание запущенно с пoмощью icecast2</h1>

  <video controls="" autoplay="" name="media"><source src="http://radiomok.ml:9090/stream" type="audio/mpeg"></video>


<a href="http://radiomok.ml:9090/stream">radiomok.ml:9090/stream</a>
    <v-img
        max-height="148"
        max-width="148"
        src="http://qrcoder.ru/code/?http%3A%2F%2Fradiomok.ml%3A9090%2Fstream&4&0"
    ></v-img>

  <hr>
  <h1>radiomok</h1>
</div>







    <div v-if="menyy === 'R'" class="navigationbare">
                                                                          <!--    <router-link to="/">-->
      <v-tab class="gradient-button" @click="type = 'A'">Понедельник</v-tab>
                                <!--    </router-link>-->

<!--      <router-link to="/saterday">-->
      <v-tab class="gradient-button"  @click="type = 'B'">Вторник</v-tab>
<!--      </router-link>-->

<!--      <router-link to="/twensday">-->
      <v-tab class="gradient-button" @click="type = 'C'" >Среда</v-tab>
<!--      </router-link>-->


<!--      <router-link to="/wensday">-->
      <v-tab class="gradient-button" @click="type = 'D'" >Четверг</v-tab>
<!--      </router-link>-->


<!--      <router-link to="/wedday">-->
      <v-tab class="gradient-button" @click="type = 'E'" >Пятница</v-tab>
<!--      </router-link>-->


<!--      <router-link to="/freesday">-->
      <v-tab class="gradient-button" @click="type = 'X'" >Суббота</v-tab>
<!--      </router-link>-->


<!--      <router-link to="/final">-->
      <v-tab class="gradient-button" @click="type = 'G'" >Воскрсенье</v-tab>
<!--      </router-link>-->

<!--<v-btn @click="call"></v-btn>-->

    </div>


<div v-if="menyy === 'A'" class="navigationbare">
<a href="/saterday" class="gradient-button">Понедельник</a>
    <a href="/twensday" class="gradient-button">Вторник</a>
    <a href="/wensday" class="gradient-button">Среда</a>
    <a href="/wedday" class="gradient-button">Четверг</a>
    <a href="/" class="gradient-button">Пятница</a>
    <a href="/freesday" class="gradient-button">Суббота</a>
    <a href="/final" class="gradient-button">Воскресенье</a>
  <router-view/>


  <hr>


  <h1>radiomok</h1>

</div>







<!--    <div v-if="menyy === 'A'" class="controll">-->
<!--      <div v-if="type === 'A'">-->
<!--         <Player7/>-->
<!--      </div>-->

<!--      <div v-else-if="type === 'B'">-->
<!--         <Player6/>-->
<!--      </div>-->

<!--      <div v-else-if="type === 'C'">-->
<!--        <Player5/>-->
<!--      </div>-->

<!--      <div v-else-if="type === 'D'">-->
<!--         <Player4/>-->
<!--      </div>-->

<!--     <div v-else-if="type === 'E'">-->
<!--        <Player3/>-->
<!--     </div>-->

<!--     <div v-else-if="type === 'X'">-->
<!--        <Player2/>-->
<!--     </div>-->

<!--<div v-else-if="type === 'G'">-->
<!--<Player/>-->
<!--</div>-->

<!--<div v-else>-->
<!--  <h1>Невозможно</h1>-->
<!--  </div>-->
<!--    </div>-->






<!--    <div class="podval">-->
<!--  <Podval/>-->
<!--    </div>-->

</v-app>

</template>
<script>

// import Podval from "./components/Podval";
import Player7 from "./components/Player7";
import Player6 from "./components/Player6";
import Player5 from "./components/Player5";
import Player4 from "./components/Player4";
import Player3 from "./components/Player3";
import Player from "./components/Player";
import Player2 from "./components/Player2";
import type from "./data";

// import PlayerControlsBars from "./components/PlayerControlsBars";

export default {
  name: "App",
  components: {Player, Player3, Player4, Player5, Player6, Player7, Player2},


  type,

  data () {

    return {
      menyy: 'A',
type: 'A',
    }
  },


  methods: {
    call() {
      alert({type})
    }
  }
}
</script>
<style>
.controll {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
/*adaptive*/
@media (max-width: 500px)
{
  .controll {
    max-width: 500px;
  }
}

@media (max-width: 412px)
{
  .controll {
    max-width: 412px;
  }
}

@media (max-width: 420px)
{
  .controll {
    max-width: 420px;
  }
}
@media (max-width: 400px)
{
  .controll {
    max-width: 400px;
  }
}

@media (max-width: 414px)
{
  .controll {
    max-width: 414px;
  }
}

@media (max-width: 390px)
{
  .controll {
    max-width: 390px;
  }
}

@media (max-width: 393px)
{
  .controll {
    max-width: 393px;
  }
}

@media (max-width: 360px)
{
  .controll {
    max-width: 360px;
  }
}

@media (max-width: 450px)
{
  .controll {
    max-width: 450px;
  }
}
/*adaptive*/
.podval {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.mainapptitle {
  margin-left: auto;
  margin-right: auto;
}
.positionplease
{
margin-right: auto;
  margin-left: auto;
}
.navigationbare {
    position: center;
    text-align: center;
}
.meny {
  margin-left: 20px;
}

.gradient-button2 {
  text-decoration: underline;
}

.ocenter {

  margin-left: auto;
  margin-right: auto;

}

</style>